
.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 'title' 'content';
}

@media only screen and (min-width: 850px) {
    .container {
        grid-template-columns: 200px auto;
        grid-template-areas: 'title content';
    }
}

.leftContainer {
    grid-template: 'title';
    background-color: #1f72a1;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.rightContainer {
    grid-template: 'content';
    /* padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 35px; */

    display: grid;
    width: 90%;
    transform-style: preserve-3d;
    --_t: perspective(2000px) rotateX(-90deg) rotate(180deg) scaleX(-1);
    animation: rotation 14s cubic-bezier(0.5, -0.2, 0.5, 1.2) infinite;

    margin-top: 30px;
    margin-left: 1.3rem;
}

@media only screen and (min-width: 850px) {
    .rightContainer {
        width: 400px;
        margin-left: 80px;
        margin-top: 0;
    }
}

@keyframes rotation {
    0%, 5% {
        transform: var(--_t) rotate(0deg);
    }
    31%, 36% {
        transform: var(--_t) rotate(120deg);
    }
    64%, 69% {
        transform: var(--_t) rotate(240deg);
    }
    94%, 100% {
        transform: var(--_t) rotate(360deg);
    }
}

.rightContainer > div {
    grid-area: 1 / 1;
    /* width: 300px; */
    aspect-ratio: 1; 
    object-fit: cover;
}

.rightContainer > div:nth-child(1) {
    transform: 
      rotate(0)
      translateY(28.8675134595%)
      rotateX(90deg);
}

.rightContainer > div:nth-child(2) {
    transform: 
      rotate(120deg)
      translateY(28.8675134595%)
      rotateX(90deg);
}

.rightContainer > div:nth-child(3) {
    transform: 
      rotate(240deg)
      translateY(28.8675134595%)
      rotateX(90deg);
}

.sectionContainer {
    background-color: #5193B9;
    padding: 20px;
    overflow: hidden;
    animation: height 14s cubic-bezier(0.5, -0.2, 0.5, 1.2) infinite;
    height: 100%;
}

@keyframes height {
    0%, 5% {
        max-height: 300px;
    }
    31%, 36% {
        max-height: 390px;
    }
    64%, 69% {
        max-height: 200px;
    }
    94%, 100% {
        max-height: 300px;
    }
}
