/* Layout container */

.mainContentContainer {
  margin: 35px 15px;
  max-width: 850px;
  min-height: calc(100vh - 178px);
}

@media only screen and (min-width: 850px) {
  .mainContentContainer {
    margin: auto;
    min-height: calc(100vh - 320px);
    margin-top: 50px;
    margin-bottom: 60px;
  }
}



/* Navbar */

.navHeader {
  width: 100vw;
  background-color: #2c4d77f3;
  padding: 10px;
  color: #ffffff;
  height: 54px;
  font-size: 14px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 25px;
  position: sticky;
  top: 0;
}

.navToggle {
  position: fixed;
  top: 15px;
  left: 15px;
  visibility: visible;
}

.navMain {
  width: 100%;
  background-color: #2c4d77f3;
  padding: 10px;
  padding-top: 30px;
  color: #ffffff;
  height: 100%;
  position: fixed;
  top: 54px;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 25px;
  visibility: hidden;
  opacity: 0;
  height: 0;
  transition: height 300ms ease, opacity 300ms ease, visibility 300ms ease;
  z-index: 999;
}

.navMainVisible {
  visibility: visible;
  opacity: 1;
  height: 100%;
}

.navItem {
  color: #ffffff;
}

@media only screen and (min-width: 850px) {
  .navHeader {
    width: 100%;
    height: 80px;
    font-size: 22px;
    display: flex;
    top: 0;
    position: unset;
  }

  .navToggle {
    visibility: hidden;
  }

  .navMain {
    padding: 10px;
    height: 50px;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    visibility: visible;
    opacity: 1;
  }
}



/* Footer */

.footerContainer {
  bottom: 0;
  left: 0;
  width: 100%;
  height: 54px;
  background-color: #2c4d77f3;

  
  color: #ffffff;
  font-size: 14px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

@media only screen and (min-width: 850px) {
  .footerContainer {
    height: 80px;
  }
}
