.projectList {
  display: flex;
  flex-direction: column;
}

.projectList .projectContainer:not(:first-child) {
  margin-top: 30px;
}

.projectLeft {
  align-self: flex-start;
}

.projectRight {
  align-self: flex-end;
}

.projectWrapper {
  margin: auto;
  background-color: #5193B9;
  padding: 20px;
  color: #110f12;
  display: grid;
  gap: 18px;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  grid-template-areas: 
    "detail detail"
    "image image";
}

@media only screen and (min-width: 850px) {
  .projectWrapper {
    width: 100%;
  }

  .projectSmall {
    max-width: 300px;
  }

  .projectMedium {
    max-width: 480px;
  }

  .projectLarge {
    max-width: 650px;
  }
  
  .projectXLarge {
    max-width: 800px;
  }

  .projectFull {
    max-width: unset;
  }

  .imageLeft {
    grid-template-areas: 
      "image detail"
      "image detail";
  }
  
  .imageRight {
    grid-template-areas: 
      "detail image"
      "detail image";
  }
}

.projectHeader {
  display: inline-flex;
  padding-bottom: 10px;
}

.projectTitle {
  color: #000000;
  padding-right: 15px;
}

.description {
  padding-top: 12px;
}

.image {
  width: 100%;
  padding-top: 10px;
  grid-area: image;
}

@media only screen and (min-width: 850px) {
  .image {
    width: var(--image-width);
    padding-top: 10px;
    grid-area: image;
  }
}