.projectWrapper {
  max-width: 600px;
  margin: auto;
  margin-top: 30px;
  background-color: #27d5e2ba;
  padding: 20px;
  color: black;
  display: grid;
  gap: 10px;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  grid-template-areas: 
    "detail detail"
    "image image";
}

@media only screen and (min-width: 600px) {
  .imageLeft {
    grid-template-areas: 
      "image detail"
      "image detail";
  }
  
  .imageRight {
    grid-template-areas: 
      "detail image"
      "detail image";
  }
}

.projectTitle {
  color: orange;
}

.description {
  padding-top: 10px;
}

.image {
  width: 100%;
  padding-top: 10px;
  grid-area: image;
}

@media only screen and (min-width: 600px) {
  .image {
    width: var(--image-width);
    padding-top: 10px;
    grid-area: image;
  }
}